/* Grid Icons */

#gridsection-1 .image_holder {
	background-image: url("https://mum-mih.github.io/EdResources/Icon_outline.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-2 .image_holder {
	background-image: url("https://mum-mih.github.io/EdResources/Icon_topic1.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-3 .image_holder {
	background-image: url("https://mum-mih.github.io/EdResources/Icon_topic2.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-4 .image_holder {
	background-image: url("https://mum-mih.github.io/EdResources/Icon_topic3.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-5 .image_holder {
	background-image: url("https://mum-mih.github.io/EdResources/Icon_topic4.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-6 .image_holder {
	background-image: url("https://mum-mih.github.io/EdResources/Icon_topic5.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-7 .image_holder {
	background-image: url("https://mum-mih.github.io/EdResources/Icon_topic6.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-8 .image_holder {
	background-image: url("https://mum-mih.github.io/EdResources/Icon_topic7.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-9 .image_holder {
	background-image: url("https://mum-mih.github.io/EdResources/Icon_topic8.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-10 .image_holder {
	background-image: url("https://mum-mih.github.io/EdResources/Icon_topic9.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-11 .image_holder {
	background-image: url("https://mum-mih.github.io/EdResources/Icon_forum.svg");
	background-size: contain;
	background-repeat: no-repeat
}

#gridsection-12 .image_holder {
	background-image: url("https://mum-mih.github.io/EdResources/Icon_policy2.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-13 .image_holder {
	background-image: url("https://mum-mih.github.io/EdResources/Icon_design2.svg");
	background-size: contain;
	background-repeat: no-repeat
}
